body {
    width: auto;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    background-color:var(--main-title-color)
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

img {
    margin: 0px;
    padding: 0px;
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visual-hidden {
    // visibility: hidden;
    display: none;
}